/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #222222;
    position: fixed;
    width: 100vw;
    height: 70px;
}

span {
    font-size: .8rem;
    font-weight: 400;
    display: block;
    margin: 0 1rem;
}


.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.position {
    position: absolute;
}

.buttons{
    top: 2%;
    right: 0;

}
main.container {
    height: 78vh;
    width: 90%;
    margin: 10vh auto 5vh auto;
}

.speaker-view,
.full-screen,
.mute-mic{
    font-size: .8rem;
    color: white;
    padding: .3rem;
}
.speaker-view,
.full-screen {
    background-color: #222222;
    border-radius: .4rem;
    border: none;
}

.mute-mic{
    background-color:  rgba(34, 34, 34, .5);
    top: 80%;
    left: 1%;
}

.fa-microphone-slash,
.end-meeting{
    color: red;
}

.card:hover .fa-microphone-slash {
    display: none;
}
.card img {
    width: 100%;
    height: 100%;
    padding: .4rem .2rem;
}

.card {
    position: relative;
    width: 200px;
    height: 140px;
}

.header-nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

section.mic-video ul,
section.interactions ul {
    list-style-type: none;
    color:white;
    height: 100%;
}

ul li .fa-solid{
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

section.mic-video ul li,
section.interactions ul li {
    display: inline-block;
    text-align: center;
}

.color-green {
    color:green;
}

.close{

    padding: 0 .6rem;
    line-height: 4rem;
}

.end-meeting{
    padding: .5rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: .5rem;
}
